{% extends 'main/base.html' %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'main/css/table.css' %}" media="screen">
{% endblock %}

{% block content %}
<!--<a type="submit" class="add_schedule">Добавить</a>-->
<section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-a95b">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h1 class="u-text u-text-default u-text-1">{{ title_text }}</h1>
    <a href="{{ link }}" class="u-align-center-xs u-border-2 u-border-palette-1-base u-btn u-button-style u-none u-text-palette-1-base u-btn-1">{{ link_text }}</a>
    <p class="u-text u-text-2">{{ text }}</p>
    {% if table %}
      <div class="u-expanded-width u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
          <thead class="u-palette-1-base u-table-header u-table-header-1">
            <tr style="height: 48px;">
              {% for column in table_head %}
                <th class="u-border-1 u-border-palette-1-base u-table-cell">{{ column }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody class="u-table-body u-white u-table-body-1">
            {% for row in table %}
              <tr style="height: 78px;">
                {% for cell in row %}
                  {% if cell.type == 'text' %}
                    <td class="u-border-1 u-border-grey-30 u-table-cell">{{ cell.text }}</td>
                  {% else %}
                    <td class="u-border-1 u-border-grey-30 u-table-cell"><a href="{{cell.link}}">{{ cell.text }}</a></td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
</section>
{% endblock %}