{% extends 'main/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'EquipApp/css/respond_query.css' %}" media="screen">
{% endblock links %}

{% block content %}
<section class="u-clearfix u-grey-10 u-section-1" id="sec-0931">
  <div class="u-clearfix u-sheet u-sheet-1">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="u-align-center u-container-style u-group u-white u-group-1">
        <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-xl u-container-layout-1">
          <h1 class="u-text u-text-1">Ответить на запрос</h1>
          <p class="u-text u-text-2">Вы хотите принять запрос?</p>
          <button name="Reject" type="submit" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-palette-2-base u-radius-50 u-text-black u-btn-1">Нет</button>
          <button name="Accept" type="submit" class="u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-palette-4-dark-1 u-radius-50 u-text-black u-btn-2">Да</button>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock content %}