.add_schedule {
  position: absolute;
  z-index: 1;
  margin-left: 81%;
  margin-top: 7%;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  border-color: white;
  background-color: #6495ED;
}


 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 19px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-1 .u-table-1 {
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  margin-bottom: 0;
}

.u-section-1 .u-table-cell-4 {
  margin-top: 20px;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
  }
}
