{% extends 'main/details.html' %}

{% block details %}
<img alt="" class="u-border-3 u-border-grey-75 u-image u-image-round u-product-control u-radius-50 u-image-1" data-image-width="2000" data-image-height="1333"  src="{{ lecture.image.url }}"><!--/product_image-->
<h1 class="u-align-center u-text u-text-1">{{ lecture.name }}</h1>
<h3 class="u-text u-text-3">Организатор: {{lecture.organizer }}</h3>
<h3 class="u-text u-text-3">Категория: {{lecture.category.name }}</h3>
<h3 class="u-text u-text-3">Дата и время начала: {{lecture.start_datetime }}</h3>
<h3 class="u-text u-text-3">Адрес: {{lecture.address }}</h3>
<h3 class="u-text u-text-3">Количество мест: {{lecture.get_quantity_free_places }}/{{lecture.max_places}}</h3>
<h3 class="u-text u-text-3">Длительность: {{lecture.duration }}</h3>
<h3 class="u-text u-text-3">Целевая аудитория: {{lecture.target_audience.name }}</h3>
<h3 class="u-text u-text-3">Форма проведения: {{lecture.event_form }}</h3>
<h3 class="u-text u-text-4">Описание:</h3>
<p class="u-product-control u-product-desc u-text u-text-5"> {{ lecture.description }}</p>
<h3 class="u-text u-text-6">Возможные действия:</h3>
<ul class="u-text u-text-7">
  {% if mode == 'Действие' %}
    <li><a class="u-btn u-btn-round u-radius-10" style="margin-top: 1px" href="">Записаться</a></li>
  {% elif mode == 'Владелец' %}
    <li><a class="u-btn u-btn-round u-radius-10" style="margin-top: 1px" href="">Удалить</a></li>
    <li><a class="u-btn u-btn-round u-radius-10" style="margin-top: 1px" href="">Изменить</a></li>
  {% endif %}
</ul>
{% if mode == 'Действие' %}
  <a href="{% url 'lecture_list' %}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">К списку</a>
{% elif mode == 'Владелец' %}
  <a href="{% url 'my_lecture_list' %}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">К списку</a>
{% endif %}

{% endblock details %}