{% extends 'main/list.html' %}

{% block list %}
{% if mode == 'Владелец' %}
        <h1>Список ваших лекций</h1>
        {% if not lecture_list %}
          <h1>Упс... тут ничего нет</h1>
        {% endif %}
        <a href="{% url 'lecture_list' %}">Посмотреть общий список лекций</a>
      {% else %}
        <h1>Общий список лекций</h1> 
        {% if mode == 'Действие' %}
          <a href="{% url 'my_lecture_list' %}">Посмотреть список моих лекций</a>
        {% endif %}
      {% endif %}

      {% if mode == 'Владелец' %}
        <a href="{% url 'add_lecture' %}">Добавить лекцию</a>
      {% endif %}
      <br>
      <div class="u-repeater u-repeater-1"><!--product_item-->
        {% for lecture in lecture_list %}
          <div class="u-align-left u-container-style u-products-item u-repeater-item u-white u-repeater-item-1">
            <div class="u-container-layout u-similar-container u-container-layout-1"><!--product_image-->
              <img src="{{ lecture.get_image_url }}" class="u-expanded-width u-image u-image-default u-product-control u-image-1"><!--/product_image--><!--product_title-->
              <h4 class="u-product-control u-text u-text-1">
                <a class="u-product-title-link" href="#"><!--product_title_content-->{{ lecture.name }}<!--/product_title_content--></a>
              </h4><!--/product_title--><!--product_content-->
              <div class="u-product-control u-product-desc u-text u-text-2"><!--product_content_content--><p>{{ lecture.description|truncatechars:60 }}</p><!--/product_content_content--></div><!--/product_content--><!--product_price-->
              <div class="u-product-control u-product-price u-product-price-1">
                <div class="u-price-wrapper u-spacing-10">
                  <div class="u-price u-text-palette-1-base" style="font-size: 1.5rem; font-weight: 700;"><!--product_regular_price_content-->{{lecture.get_record_quantity }}/{{lecture.max_places}}<!--/product_regular_price_content--></div><!--/product_regular_price-->
                </div>
              </div><!--/product_price--><!--product_button--><!--options_json--><!--{"clickType":"add-to-cart","content":"Add to Cart"}--><!--/options_json-->
              <a href="{{ lecture.get_absolute_url }}" class="u-btn u-btn-rectangle u-button-style u-product-control u-btn-1"><!--product_button_content-->Подробнее<!--/product_button_content--></a><!--/product_button-->
            </div>
          </div><!--/product_item--><!--product_item-->
        {% endfor %}
{% endblock list %}